.countdownContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.timer {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  margin: 0 1rem;
  margin-bottom: 8px;
}

.timerPrefix {
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}

.timerContainer {
  width: 64px;
}